@model IEnumerable<ContaCorrente.Dominio.DTO.PessoaDTO>

@{
    ViewData["Title"] = "Pessoas";
}

<h1>Manutenção de Pessoas Fisicas</h1>

<p>
    <a asp-action="Criar">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPessoa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.IdPessoa">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>